*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    position: relative;
}


.carousel-container {
    width: 525px;
    border: 2px solid  black;
    margin: 15% auto;
    overflow: hidden;
}


.gallery {
    width: 100%;
    display: flex;
}


.gallery-image {
    width: 525px;
    height: 350px;
}


.prev-btn {
    outline: none;
    border: 0;
    position: absolute;
    top: 15%;
    left: 33%;
}


.next-btn {
    outline: none;
    border: 0;
    position: absolute;
    top: 15%;
    right: 33%;
}